<link rel="import" href="../../bower_components/polymer/polymer.html">

<polymer-element name="rt-publisher" attributes="">
  <template>
    <p></p>
    <video id="localVideo" autoplay width="320px" height="240px"></video>

    <div>
      WebRTC Endpoint ID: <input type="text" value="{{ webRtcEndpointId }}"  onclick="this.select()" readonly />
    </div>
  </template>

  <script src="https://apprtc.appspot.com/js/adapter.js"></script>
  <script src="../../bower_components/kurento-client/js/kurento-client.js"></script>
  <script src="../../bower_components/kurento-utils/js/kurento-utils.js"></script>
  <script src="publisher.js"></script>
</polymer-element>
