{
  "backendUrl": "https://rt-dev.kbb1.com/backend",
  "frontendUrl": "https://rt-dev.kbb1.com/",
  "kurentoWsUri": "wss://webrtc-dev.kbb1.com:8433/kurento",
  "backendWsUri": "wss://rt-dev.kbb1.com/backend/socket",
  "updateTableInterval": 10000,
  "hangoutsAppGid": "979640007671"
}
