{
  "audioConstraints": {
    "maxBitrate": 64
  },
  "videoConstraints": {
    "maxWidth": 640,
    "maxHeight": 360,
    "maxFrameRate": 10,
    "minFrameRate": 1,
    "maxBitrate": 256
  },
  "backendUrl": "https://rt-dev.kbb1.com/backend",
  "frontendUrl": "https://rt-dev.kbb1.com/",
  "kurentoWsUri": "wss://webrtc-dev.kbb1.com:8433/kurento",
  "backendWsUri": "wss://rt-dev.kbb1.com/backend/socket",
  "chatUri": "http://we.kab.tv",
  "updateTableInterval": 10000,
  "sendHeartbeatInterval": 10000,
  "dashboardRefreshInterval": 5000,
  "hangoutsAppGid": "979640007671",
  "spaces": {
    "default": {
      "recordingUri": "file:///tmp"
    }
  }
}
