CONFIG = {
    'hangout_app_gid' => '979640007671',
    'auth' => {
      'session_ttl' => 60 * 60 * 24,
    },
    'table' => {
        'time_to_live' => 7200,
        'polling_interval' => 60,
        'min_participants_number' => 5,
        'max_participants_number' => 10,
    },
    'redis' => {
        'host' => "127.0.0.1",
        'port' => 6379,
        'db' => 0
    }
}
