<!doctype html>
<html>
  <head>
    <title>Broadcast stream demo</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <script src="../../bower_components/webcomponentsjs/webcomponents.js"></script>
    <link rel="import" href="table-list.html" />
  </head>

  <body unresolved>

    <core-header-panel>
    <div class="core-header">Tables list demo</div>
    <div class="content" fit>
      <table-list space="default"></table-list>
    </div>
    </core-header-panel>

  </body>

</html>
