---
hangout_app_gid: '979640007671'
bad_user_agent_url: https://rt-dev.kbb1.com/#/bad-user-agent
auth:
  session_ttl: 86400
table:
  time_to_live: 7200
  polling_interval: 60
  min_participants_number: 5
  max_participants_number: 10
redis:
  host: 127.0.0.1
  port: 6379
  db: 0
redis_test:
  host: 127.0.0.1
  port: 6379
  db: 15
