<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../sound-level-indicator/sound-level-indicator.html">
<link rel="import" href="../broadcast-master/broadcast-master.html">

<polymer-element name="table-instructor" extends="broadcast-master" attributes="">
  <template>
    <style>
      :host::shadow video {
        float: left;
      }
    </style>

    <shadow></shadow>

    <paper-button raised on-click="{{ toggleBroadcast }}" disabled?="{{ !broadcastIsReady }}">{{ toggleBroadcastLabel }}</paper-button>
    <paper-button raised on-click="{{ toggleAudio }}" disabled?="{{ !broadcastIsReady }}">Mute</paper-button>

    <div style="clear: both"></div>
    <sound-level-indicator stream="{{ webRtcPeer.stream }}" style="width: 320px;"></sound-level-indicator>
  </template>

  <script src="table-instructor.js"></script>
</polymer-element>
