<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../toggle-label-button/toggle-label-button.html">
<link rel="import" href="../sound-level-indicator/sound-level-indicator.html">
<link rel="import" href="../broadcast-master/broadcast-master.html">

<polymer-element name="table-instructor" noscript>
  <template>
    <style>
      #master::shadow video {
        float: left;
      }

      sound-level-indicator {
        width: 320px;
      }

      .controls {
        float: left;
      }

      .controls toggle-label-button {
        display: block;
        margin-bottom: 10px;
      }

      .controls toggle-label-button[active] {
        color: white;
        background-color: red;
      }
    </style>

    <user-auth id="user"></user-auth>

    <broadcast-master id="master" space="{{ $.user.space }}"></broadcast-master>

    <div class="controls">
      <toggle-label-button raised active="{{ $.master.isEnabled }}" labelPressed="Pause" labelReleased="Resume" disabled?="{{ !$.master.isReady }}">Start
      </toggle-label-button>

      <toggle-label-button raised active="{{ $.master.isMuted }}" labelPressed="Unmute" disabled?="{{ !$.master.isReady }}">Mute
      </toggle-label-button>

    </div>

    <div style="clear: both"></div>
    <sound-level-indicator stream="{{ $.master.webRtcPeer.stream }}"></sound-level-indicator>
  </template>

</polymer-element>
