<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../broadcast-master/broadcast-master.html">
<link rel="import" href="../broadcast-viewer/broadcast-viewer.html" />

<polymer-element name="space-translator" extends="broadcast-master" role="translator" attributes="space language">
  <template>
    <style>
      broadcast-viewer {
        width: 640px;
        height: 360px;
        float: left;
        background: #181818;
      }
    </style>

    <broadcast-viewer id="viewer"
      space="{{ space }}"
      role="instructor">
    </broadcast-viewer>

    <audio id="mediaElement" autoplay></audio>

    <shadow></shadow>
  </template>

  <script src="space-translator.js"></script>
</polymer-element>
