<!doctype html>
<html>
  <head>
    <title> Hangouts participant demo</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <script src="../../bower_components/webcomponentsjs/webcomponents.js"></script>
    <link rel="import" href="hangouts-participant.html" />
  </head>

  <body unresolved>

    <core-header-panel>
    <div class="core-header">Hangouts participant demo</div>
    <div class="content" fit>
      <hangouts-participant></hangouts-participant>
    </div>
    </core-header-panel>

    <script src="../hangouts-mock/hangouts-mock.js"></script>
  </body>

</html>

