<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../translation-viewer/translation-viewer.html">
<link rel="import" href="../update-table/update-table.html" />
<link rel="import" href="../webdis-chat/webdis-chat.html" />
<link rel="import" href="../viewer-heartbeat/viewer-heartbeat.html">

<polymer-element name="hangouts-participant">
  <template>
    <update-table id="table"></update-table>
    <template if="{{ $.table.isReady }}">
      <style>
        translation-viewer {
          width: 66%;
          float: left;
          height: 100%;
          background: #181818;
        }
        webdis-chat {
          width: 33%;
          float: left;
          height: 100%;
        }
      </style>
      <translation-viewer
          id="viewer"
          space="{{ $.table.appData.space }}"
          language="{{ $.table.appData.language }}"
          on-instructor-resumed="{{mute}}"
          on-instructor-paused="{{hide}}">
      </translation-viewer>
      <viewer-heartbeat viewerId="viewer"></viewer-heartbeat>
      <webdis-chat
         space="{{ $.table.appData.space }}"
         isAdmin="false">
      </webdis-chat>
    </template>
  </template>

  <script src="hangouts-participant.js"></script>
</polymer-element>
