<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/font-roboto/roboto.html" >

<link rel="import" href="../../bower_components/core-ajax/core-ajax.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-action-dialog.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/polymer-cookie/polymer-cookie.html">
<link rel="import" href="../../bower_components/ajax-form/ajax-form.html">
<link rel="import" href="../app-config/app-config.html" />

<polymer-element name="user-auth">
  <template>
  <style>
    #errorText {
      color: red;
    }
  </style>

  <app-config id="config"></app-config>

  <polymer-cookie name="session" id="cookie"></polymer-cookie>

  <paper-action-dialog id="loginModal" backdrop autoCloseDisabled closeSelector="[dismissive]" layered="false">
    <form id="loginForm"
        is="ajax-form"
        method="POST"
        action="{{ $.config.backendUrl }}/auth/tokens"
        enctype="application/json"
        on-submitted="{{handleResponse}}">

      <template if="{{errorText}}">
      <div id="errorText">{{ errorText }}</div>
      </template>

      <div>
        <paper-input-decorator label="Login" floatingLabel autoValidate>
        <input is="core-input" name="login" required>
        </paper-input-decorator>
      </div>
      <div>
        <paper-input-decorator label="Password" floatingLabel autoValidate>
        <input is="core-input" type="password" name="password" required>
        </paper-input-decorator>
      </div>
    </form>

    <paper-button on-tap="{{submit}}" affirmative autofocus>log in</paper-button>
  </paper-action-dialog>

  </template>

  <script src="user-auth.js"></script>
</polymer-element>
