<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../backend-signaling/backend-signaling.html">

<polymer-element name="heartbeat-dashboard">
  <template>
    <style>
    </style>

    <user-auth id="user"></user-auth>

    <backend-signaling space="{{ $.user.space }}" on-update-heartbeat="{{update}}"></backend-signaling>

    <table>
      <thead>
        <tr>
          <th>Table ID</th>
          <th>Language</th>
          <th colspan="{{ maxParticipantsNumber }}">Participants</th>
        </tr>
      </thead>
      <tbody>
        <template repeat="{{ table in tables }}">
          <tr>
            <td>{{ table.id }}</td>
            <td>{{ table.language }}</td>
            <template repeat="{{ participant in table.participants }}">
              <td style="background: {{ participant.videoColor }};">
                <h1>{{ participant.name }}</h1>
                <template if="{{ participant.hasHeartbeat }}">
                  {{ participant.browser.name }}
                  {{ participant.browser.version }}
                </template>
              </td>
            </template>
          </tr>
        </template>
      </tbody>
    </table>
  </template>

  <script src="heartbeat-dashboard.js"></script>
</polymer-element>
