<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-fontawesome/polymer-fontawesome.html">
<link rel="import" href="../../bower_components/core-tooltip/core-tooltip.html">
<link rel="import" href="../app-config/app-config.html" />
<link rel="import" href="../backend-signaling/backend-signaling.html">


<polymer-element name="heartbeat-dashboard">
  <template>
    <style>
      .no-heartbeat {
        background: red;
      }

      .good-heartbeat {
        color: green;
      }

      .low-heartbeat {
        color: red !important;
      }

      table td {
        padding: 10px;
      }

    </style>

    <app-config id="config"></app-config>

    <user-auth id="user"></user-auth>

    <backend-signaling
        id="signaling"
        space="{{ $.user.space }}"
        on-update-heartbeat="{{update}}"
        on-websocket-open="{{register}}">
    </backend-signaling>

    {{ tables.length }}
    <table>
      <thead>
        <tr>
          <th>Table ID</th>
          <th>Language</th>
          <th colspan="{{ maxParticipantsNumber }}">Participants</th>
        </tr>
      </thead>
      <tbody>
        <template repeat="{{ table in tables }}">
          <tr>
            <td>{{ table.id }}</td>
            <td>{{ table.language }}</td>
            <template repeat="{{ participant in table.participantsArray }}">
              <td class="{{ participant.timestamp ? '' : 'no-heartbeat' }}">
                <core-tooltip>
                  <font-awesome icon="video-camera"
                    size="2x" style="color: {{ participant.videoColor }}">
                  </font-awesome>
                  <font-awesome icon="heart"
                    size="2x"
                    class="{{ (timestamp - participant.timestamp) <= (2 * $.config.sendHeartbeatInterval) ? 'good-heartbeat' : 'low-hearbeat'}}">
                  </font-awesome>
                  <div tip>
                    <p>{{ participant.participantId }}</p>
                    <p><strong>{{ participant.participantName }}</strong></p>
                    <p>{{ participant.browser.name }} {{ participant.browser.version }}</p>
                  </div>
                </core-tooltip>
              </td>
            </template>
          </tr>
        </template>
      </tbody>
    </table>
  </template>

  <script src="heartbeat-dashboard.js"></script>
</polymer-element>
