<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../app-config/app-config.html" />

<polymer-element name="broadcast-base" attributes="">
  <template>
  <app-config id="config"></app-config>
  </template>

  <!-- Set undocumented WebRTC flags -->
  <script src="broadcast-base.webrtc-flags.js"></script>

  <!-- Browsers interop -->
  <script src="https://apprtc.appspot.com/js/adapter.js"></script>

  <!-- Kurento libraries -->
  <script src="../../bower_components/kurento-client/js/kurento-client.js"></script>
  <script src="../../bower_components/kurento-utils/js/kurento-utils.js"></script>

  <script src="broadcast-base.js"></script>
</polymer-element>
