<!doctype html>
<html>
  <head>
    <title>Language selector demo</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <script src="../../bower_components/webcomponentsjs/webcomponents.js"></script>
    <link rel="import" href="language-selector.html" />
  </head>

  <body unresolved>

    <core-header-panel>
    <div class="core-header">Language selector demo</div>
    <div class="content" fit>
      <language-selector space="default"></language-selector>
    </div>
    </core-header-panel>

  </body>

</html>
