<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/core-ajax/core-ajax.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../app-config/app-config.html" />

<polymer-element name="language-selector" attributes="space">
  <template id="language-selector">

  <app-config id="config"></app-config>

  <link rel="stylesheet" href="language-selector.css">

  <core-ajax
    id="getLanguages"
    url="{{ $.config.backendUrl }}/spaces/{{ space }}/languages",
    method="GET"
    contentType="application/json"
    handleAs="json"
    on-core-response="{{ setLanguages }}">
  </core-ajax>

  <paper-dropdown-menu label="Select a language">
    <paper-dropdown class="dropdown">
      <core-menu class="menu">
        <template repeat="{{ language in languages }}">
          <paper-item value="{{ language }}">{{ language }}</paper-item>
        </template>
      </core-menu>
    </paper-dropdown>
  </paper-dropdown-menu>

  </template>

  <script src="language-selector.js"></script>
</polymer-element>
