<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/core-ajax/core-ajax.html">
<link rel="import" href="../../bower_components/core-menu/core-menu.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-dropdown/paper-dropdown.html">
<link rel="import" href="../x-language/x-language.html" />
<link rel="import" href="../app-config/app-config.html" />

<polymer-element name="language-selector" attributes="space defaultLanguage">
  <template id="language-selector">

  <app-config id="config"></app-config>

  <core-ajax
    id="getLanguages"
    url="{{ $.config.backendUrl }}/spaces/{{ space }}/languages",
    method="GET"
    contentType="application/json"
    handleAs="json"
    on-core-response="{{ setLanguages }}">
  </core-ajax>

  <x-language id="lang"></x-language>

  <select id="languageSelector" value="{{ defaultLanguage }}" on-change="{{selectLanguage}}">
    <template repeat="{{ language in languages }}">
      <option value="{{ language }}">{{ $.lang.code[language].nativeName }}</option>
    </template>
  </select>

  </template>

  <script src="language-selector.js"></script>
</polymer-element>
