<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/core-ajax/core-ajax.html">
<link rel="import" href="../app-config/app-config.html" />

<polymer-element name="webdis-chat" attributes="space">
  <template id="chat-list">

  <app-config id="config"></app-config>

  <link rel="stylesheet" href="webdis-chat.css">

  <style>
    iframe {
      width: 100%;
      height: 100%
    }
  </style>

  <template if="{{ isAdmin }}">
    <iframe src="{{ $.config.chatUri }}/admin.html?label={{ hostname }}.{{ space }}"></iframe>
  </template>
  <template if="{{ !isAdmin }}">
    <iframe src="{{ $.config.chatUri }}?label={{ hostname }}.{{ space }}"></iframe>
  </template>

  </template>

  <script src="webdis-chat.js"></script>
</polymer-element>
