<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/core-ajax/core-ajax.html">
<link rel="import" href="../app-config/app-config.html" />

<polymer-element name="update-table">
  <template>

  <app-config id="config"></app-config>

  <core-ajax
    id="updateTable"
    url="{{ $.config.backendUrl }}/spaces/{{ appData.space }}/tables/{{ tableId }}",
    method="PUT"
    contentType="application/json">
  </core-ajax>

  </template>

  <script src="update-table.js"></script>
</polymer-element>
