<!doctype html>
<html>
  <head>
    <title>HTTP viewer demo</title>
  </head>

  <body>
    <div id="rtPlayerContainer">
      Здесь будет плеер с трансляцией
    </div>
    <script src="onair-player.js"></script>

    <script>
      var rt_player;

      initOnAirPlayer({
        containerId: 'rtPlayerContainer',
        liveIdUrl: '//rt-dev.kbb1.com/backend/spaces/default/live-id',
        width: 677,
        height: 390,
        callback: function (title, player) {
          if (title) {
            rt_player = player;
          }
        }
      });

      function mutePlayer() {
        rt_player.mute();
      }
    </script>

    <a href="http://ya.ru" target="_blank" onclick="javascript:mutePlayer();">Mute player</a>
  </body>

</html>
