<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/core-ajax/core-ajax.html">

<polymer-element name="table-list" attributes="space">
  <template id="table-list">
      <link rel="stylesheet" href="table_list.css">

      <h1>List of workshops for {{ space }}</h1>

      <core-ajax
           id="getTables"
           url="https://bbworkshop.kbb1.com/round_table/spaces/{{ space }}/tables",
           method="GET"
           contentType="application/json"
           handleAs="json"
           on-core-response="{{ setTables }}">
      </core-ajax>

      <table>
        <thead>
          <th>Link</th>
          <th>Language</th>
          <th>Participants</th>
        </thead>
        <tbody>
          <template repeat="{{ table, tableIndex in tables }}">
            <tr>
              <td><a href="https://plus.google.com/hangouts/_/{{ table.id }}?gid=979640007671&gd={{ space }}" target="_blank">join</a></td>
              <td>{{ table.lang }}</td>
              <td>{{ table.participants }}</td>
            </tr>
          </template>
        </tbody>
      </table>
  </template>

  <script src="table_list.js"></script>
</polymer-element>
