<!doctype html>
<html>
  <head>
    <title>Heartbeat Viewer demo</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <script src="../../bower_components/webcomponentsjs/webcomponents.js"></script>
    <link rel="import" href="../broadcast-viewer/broadcast-viewer.html">
    <link rel="import" href="viewer-heartbeat.html">
    <script src="../hangouts-mock/hangouts-mock.js"></script>
  </head>

  <body unresolved>
    <broadcast-viewer id="viewer" space="test" language="en"></broadcast-viewer>
    <viewer-heartbeat viewerId="viewer"></viewer-heartbeat>
  </body>

</html>
