<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/core-ajax/core-ajax.html">
<link rel="import" href="../app-config/app-config.html" />
<link rel="import" href="../backend-signaling/backend-signaling.html">

<polymer-element name="viewer-heartbeat">
  <template>
    <style>
      #videoSnapshot {
        display: none;
      }
    </style>

    <app-config id="config"></app-config>

    <backend-signaling id="signaling" space="{{ addData.space }}"></backend-signaling>

    <core-ajax
      id="sendHeartbeat"
      url="{{ $.config.backendUrl }}/spaces/{{ appData.space }}/tables/{{ tableId }}/heartbeat",
      method="PUT"
      contentType="application/json">
    </core-ajax>

    <canvas
      id="videoSnapshot"
      width="{{ $.config.videoConstraints.maxWidth }}"
      height="{{ $.config.videoConstraints.maxHeight }}">
    </canvas>

    <content></content>

  </template>

  <script src="../../bower_components/bowser/bowser.js"></script>
  <script src="viewer-heartbeat.js"></script>
</polymer-element>
