<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../backend-signaling/backend-signaling.html">
<link rel="import" href="../broadcast-master/broadcast-master.html">

<polymer-element name="space-instructor" extends="broadcast-master" role="instructor" attributes="language">
  <template>
    <style>
      :host::shadow video {
        float: left;
      }
    </style>

    <video id="mediaElement" autoplay width="320px" height="240px"></video>

    <div class="controls">
      <toggle-label-button raised active="{{ isEnabled }}" labelPressed="Pause" labelReleased="Resume" disabled?="{{ !isReady }}">Start
      </toggle-label-button>
    </div>

    <shadow>
    </shadow>
  </template>

  <script src="space-instructor.js"></script>
</polymer-element>
