<link rel="import" href="../../bower_components/polymer/polymer.html">

<polymer-element name="rt-subscriber" attributes="">
  <template>
    <p></p>
    <video id="remoteVideo" autoplay width="320px" height="240px"></video>
  </template>

  <script src="https://rawgit.com/GoogleChrome/webrtc/master/samples/web/js/adapter.js"></script>
  <script src="../../bower_components/kurento-client/js/kurento-client.js"></script>
  <script src="../../bower_components/kurento-utils/js/kurento-utils.js"></script>
  <script src="subscriber.js"></script>
</polymer-element>
