<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../broadcast-base/broadcast-base.html">
<link rel="import" href="../backend-signaling/backend-signaling.html">

<polymer-element name="broadcast-viewer" extends="broadcast-base" attributes="language">
  <template>
    <style>
      :host #remoteVideo {
        height: 100%;
        width: 100%;
        background: center transparent url('./spinner.gif') no-repeat;
      }
    </style>

    <backend-signaling
      id="signaling"
      space="{{ space }}"
      language="{{ language }}"
      on-websocket-open="{{register}}"
      on-assign-master-endpoints={{assignMasterEndpoints}}>
    </backend-signaling>

    <video id="remoteVideo" autoplay></video>
    <shadow></shadow>

  </template>

  <script src="broadcast-viewer.js"></script>
</polymer-element>
