<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../broadcast-base/broadcast-base.html">

<polymer-element name="broadcast-viewer" extends="broadcast-base" attributes="">
  <template>
    <style>
      :host #remoteVideo {
        height: 100%;
        background: center transparent url('./spinner.gif') no-repeat;
      }
    </style>

    <video id="remoteVideo" poster="components/broadcast-viewer/transparent-1x1.png" autoplay></video>
    <shadow></shadow>
  </template>

  <script src="broadcast-viewer.js"></script>
</polymer-element>
