<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../broadcast-base/broadcast-base.html">
<link rel="import" href="../backend-signaling/backend-signaling.html">

<polymer-element name="broadcast-viewer" extends="broadcast-base" attributes="space language role audioOnly showControls">
  <template>
    <style>
      :host #mediaElement {
        height: 100%;
        width: 100%;
        background: center transparent url('./spinner.gif') no-repeat;
      }
    </style>

    <backend-signaling
      id="signaling"
      space="{{ space }}"
      role="{{ role }}"
      language="{{ language }}"
      on-websocket-open="{{register}}"
      on-assign-master-endpoint="{{assignMasterEndpoint}}">
    </backend-signaling>

    <template if="{{ audioOnly }}">
      <audio id="mediaElement" autoplay></audio>
    </template>

    <template if="{{ !audioOnly }}">
      <video id="mediaElement" autoplay controls?="{{ showControls }}"></video>
    </template>

    <shadow></shadow>

  </template>

  <script src="broadcast-viewer.js"></script>
</polymer-element>
