<!doctype html>
<html>
  <head>
    <title>User agent demo</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <script src="../../bower_components/webcomponentsjs/webcomponents.js"></script>
    <link rel="import" href="user-agent.html" />
  </head>

  <body unresolved>

    <core-header-panel>
    <div class="core-header">User Agent Demo</div>
    <div class="content" fit>
      <user-agent></user-agent>
    </div>
    </core-header-panel>

  </body>

</html>
